// < !-- メイン トップビジュアル-->
.top-view{

    position: relative;
    padding:0;

    .catch-copy-area {
        position: absolute;
        top:20%;
        left:55%;
        color:white;

        .catch-copy {
            font-size: 1.5rem;
            margin: 0 0 1rem 0;
        }

    }
}

.conversion-click {
    width: 6rem;
    height: 1.1rem;
    font-size: 0.6rem;
    border: 1px solid white;
    margin: 0 auto;
    

    p {
        line-height: 1rem;
        text-align: center;
    }

}

section {

    margin-top: 3rem;

    p {
        font-size: 14px;
        line-height: 2;
        margin: 0 0 20px 0;

    }

    h4 {
        margin: 1rem 0 3rem;
    }

    .h4-read{
        margin:0;
        font-weight: bold;    }

    .h3-border{
        border-bottom: 2px solid black;
        line-height: 1.8;
        display: inline-block;
        padding: 0 .5rem;

    }

    .section-sentence {
        width: 85%;
        margin: 0 auto;
    }

}

// < !-- リード文 -->
.lead-text{

    h2{
        font-size: 22px;
        margin:0 0 3rem;
    }
}



// < !-- ファーストコンバージョン -->

.first-conversion-area {

    .first-conversion-wrapper{
        position: relative;

        .first-conversion{
            position: absolute;
            top: 47%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);

            h3 {
                font-size: 20px;

            }

            p {
                font-size: 8px;
            }

            .conversion-click{
                border-color: black;

                p {
                    line-height: 1rem;
                    text-align: center;
                }
                
            }
        }
    }

}


// < !-- コンセプト セクション-->
.concept{
    
}

.service{
    .conversion-click {
        border-color: black;
        height: 1.5rem;

        p {
            line-height: 1.3rem;
            text-align: center;
        }

    }
}


.service-icon,
.margin-top-3rem
 {
    margin-top:3rem;
}

.margin-bottom-3rem{
    margin-bottom: 3rem;
}

// < !-- 便利機能で簡単Shopping -->
.about-us{

    background-color: #f0f0f0;
    padding:0 .5rem 5rem;


    p {
        text-align: left;
    }

    .col-3 {
        padding-left:1.4rem;
    }



}






