// h1 店名
// h2 キャッチコピー
// h3 セクション見出し
// h4 セクション小見出し
body {
    font-family: 'Noto Serif JP',
        'Noto Sans JP',
        'Prata',
        sans-serif,
        serif;
    

    p {
        margin: 0;
    }


    img {
        width: 100%;
        height: auto;
    }

    text-align: center;

    .container {
        margin: 0 auto;
    }

}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .container{
        max-width: 960px;
    }
}
